# Python
__pycache__/
*.pyc

# IDEs and Development Environments
.vscode/
.idea/

# Jupyter Notebook
.ipynb_checkpoints/

# Virtual Environments
venv/
env/

# System Files (OS)
.DS_Store
Thumbs.db
