# Python
__pycache__/
*.pyc

# IDEs e ambientes de desenvolvimento
.vscode/
.idea/

# Jupyter Notebook
.ipynb_checkpoints/

# Ambientes virtuais
venv/
env/

# Arquivos de sistema (OS)
.DS_Store
Thumbs.db